$chat-container-bg-color: #3d3d3d !default;
$chat-container-message-input-bg-color: #3d3d3d !default;
$chat-container-message-input-color: #e5e4e4 !default;
$chat-container-color: #e5e4e4 !default;
$message-list-bg-color: #3d3d3d !default;

