$chat-container-bg-color: rgba(0, 0, 0, 0.1) !default;
$chat-container-message-input-bg-color: rgba(0, 0, 0, 0.1) !default;
$chat-container-message-input-color: #e5e4e4 !default;
$chat-container-color: #e5e4e4 !default;

$message-list-bg-color: rgba(0, 0, 0, 0) !default;
$main-container-bg-color: rgba(0, 0, 0, 0) !default;
$message-list-bg-color: rgba(0, 0, 0, 0) !default;


